## Deliverable 3. Create a Travel Itinerary Map.

In [88]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [89]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Riacho De Santana,BR,72.36,moderate rain,-13.6092,-42.9389,Casa Nogueira
1,1,Bol,TD,72.82,clear sky,13.4586,14.7147,Hotel 3 Etoiles
2,2,Saint-Philippe,RE,78.39,overcast clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,3,Dingle,PH,73.38,broken clouds,10.9995,122.6711,SEGAYA PROPERTY
4,6,Ancud,CL,75.22,clear sky,-41.8697,-73.8203,Hotel Arena Gruesa

In [90]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [91]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [92]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Cairns"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Cairns"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Mareeba"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Bowen"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Mackay"] 
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
29,66,Mareeba,AU,70.52,overcast clouds,-17.0,145.4333,Trinity Plains Tourist Park

In [93]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start.to_numpy()[0][5],vacation_start.to_numpy()[0][6]
end = vacation_end.to_numpy()[0][5],vacation_end.to_numpy()[0][6]
stop1 = vacation_stop1.to_numpy()[0][5],vacation_stop1.to_numpy()[0][6]
stop2 = vacation_stop2.to_numpy()[0][5],vacation_stop2.to_numpy()[0][6]
stop3 = vacation_stop3.to_numpy()[0][5],vacation_stop3.to_numpy()[0][6]

start

(-16.9167, 145.7667)

In [94]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itinerary = gmaps.directions_layer(start,end, 
                                   waypoints =[stop1, stop2, stop3],
                                   travel_mode = 'DRIVING')
                                    
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [95]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,378,Cairns,AU,75.15,scattered clouds,-16.9167,145.7667,Mantra Trilogy Cairns
1,66,Mareeba,AU,70.52,overcast clouds,-17.0000,145.4333,Trinity Plains Tourist Park
2,336,Bowen,AU,73.69,broken clouds,-20.0167,148.2333,Castle Motor Lodge Motel
3,437,Mackay,AU,74.68,overcast clouds,-21.1500,149.2000,International Lodge Motel

In [96]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [100]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-18.0, 147.0), zoom_level=5.5)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))